/* COLORS */

$color_purple : #662382;
$color_purple_hover : #893CA9;
$color_purple_opacity : rgba(#662382, 0.8);
$color_black_opacity : rgba(0,0,0,0.8);
$color_black_opacity_full : rgba(0,0,0,0.6);
$color_white_opacity : rgba(255,255,255, 0.8);
$color_gray_opacity : rgba(gray, 0.8);
$color_black_footer : #1c1c1b;
$color_white_line : #3c3c3b;
